function add_bv($data)
{
    // $nguoidang = $data['nguoidang'];
    $tieude = $data['tieude'];
    $noidung = $data['noidung'];

        $bv_img_name = $_FILES['hinhanh']['name'];
        $bv_img_size = $_FILES['hinhanh']['size'];
        $bv_img_tmp = $_FILES['hinhanh']['tmp_name'];
        $img_ext = pathinfo($bv_img_name, PATHINFO_EXTENSION);
    


    list($width, $height) = getimagesize("$bv_img_tmp");

    if ($img_ext == "jpg" ||  $img_ext == 'jpeg' || $img_ext == "png") {
        if ($dn_img_size <= 2e+6) {
            
            if($width<2071 && $height<2071){
                $query = "INSERT INTO `baiviet` (`nguoidang`, `tieude`, `noidung`, `hinhanh`) VALUES (' $nguoidang', '$tieude', '$noidung', '$bv_img_name');";

                if (mysqli_query($this->connection, $query)) {
                    move_uploaded_file($bv_img_tmp, "uploads/".$bv_img_name);
                    $msg = "Product uploaded successfully";
                        echo '<script>
                        alert(" Thêm  thành công");
                        window.location.href = "manage_bv.php";
                        </script>';
                }
                else {
                    $msg = "Failed to upload product: " . mysqli_error($this->connection);
                    return $msg;
                }   
                
            }else{
                $msg = "Sorry !! Pdt image max height: 2071 px and width: 2071 px, but you are trying {$width} px and {$height} px";
                return $msg;
            }


        } else {
            $msg = "File size should not be large 2MB";
            return $msg;
        }
    } else {
        $msg = "File should be jpg or png format";
        return $msg;
    }
}
